<div class="carrito-container">

  <h1>Mi carrito de compras</h1>

  <!-- Sin sesión -->
  <div
    class="mensaje-sesion"
    *ngIf="!usuario">

    <h2>Debes iniciar sesión</h2>

    <p>
      Inicia sesión para consultar tu carrito
      y realizar una compra.
    </p>

  </div>

  <!-- Con sesión -->
  <div
    class="contenido-carrito"
    *ngIf="usuario">

    <h2>
      Carrito de {{ usuario.nombre }}
    </h2>

    <p>
      Todavía no has agregado refacciones.
    </p>

  </div>

</div>