<nav class="navbar">
  <div class="logo">

    <img src="assets/Imagenes/Logo.png" alt="Logo">

  </div>
  <ul class="menu">

 
    <li>
      <a routerLink="/home">Inicio</a>
    </li>

   
    <li>
      <a routerLink="/inicio">Catálogo</a>
    </li>

    
    <li>
      <a routerLink="/contactanos">Contáctanos</a>
    </li>

  
    <li>
      <a routerLink="/reservas">Reservas</a>
    </li>

  
    <li>
      <a routerLink="/mecanico">Mecánico</a>
    </li>

  </ul>


  <button
    class="btn"
    (click)="openLogin()">

    Iniciar sesión

  </button>

</nav>


<router-outlet></router-outlet>


<div
  class="overlay"
  *ngIf="isLoginOpen">


  <div class="modal">

   
    <img
      class="logop"
      src="assets/Imagenes/Logo1.png"
      alt="Logo">

   

    <h2
      class="text"
      *ngIf="modo === 'login'">

      Iniciar Sesión

    </h2>

    <h2
      class="text"
      *ngIf="modo === 'registro'">

      Registrarse

    </h2>

  
    <div *ngIf="modo === 'login'">

    
      <input
        class="casilla"
        type="email"
        placeholder="Correo">

      
      <input
        class="casilla"
        type="password"
        placeholder="Contraseña">

     
      <div class="buttons">

        
        <button class="Ing">

          Ingresar al Sistema

        </button>

       
        <button
          class="Ing"
          (click)="closeLogin()">

          Cerrar

        </button>

       
        <div class="forgot">

          <h3 class="text">

            ¿No tienes cuenta?

          </h3>

          <button
            class="for"
            (click)="cambiarRegistro()">

            Registrarse

          </button>

        </div>

      </div>

    </div>

    

    <div *ngIf="modo === 'registro'">

      <input
        class="casilla"
        type="text"
        placeholder="Nombre"
        [(ngModel)]="registro.nombre">

     
      <input
        class="casilla"
        type="text"
        placeholder="Apellido paterno"
        [(ngModel)]="registro.ap_pat">

      
      <input
        class="casilla"
        type="text"
        placeholder="Apellido materno"
        [(ngModel)]="registro.ap_mat">

     
      <input
        class="casilla"
        type="email"
        placeholder="Correo electrónico"
        [(ngModel)]="registro.correo">

     
      <input
        class="casilla"
        type="tel"
        placeholder="Teléfono"
        [(ngModel)]="registro.telefono">

     
      <input
        class="casilla"
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="registro.contrasena">

      <div class="buttons">

    
        <button
          class="Ing"
          (click)="registrarUsuario()">

          Crear cuenta

        </button>

      
        <button
          class="Ing"
          (click)="cambiarLogin()">

          Volver al Login

        </button>

       
        <button
          class="Ing"
          (click)="closeLogin()">

          Cerrar

        </button>

      </div>

    </div>

   
    <p
      class="text"
      *ngIf="mensaje">

      {{ mensaje }}

    </p>

  </div>

</div>