<!-- Título -->
<h1 class="Texto">
    NUESTRO CATÁLOGO DE REFACCIONES ES LO QUE TU VEHÍCULO MERECE
</h1>

<!-- Dashboard -->
<div class="dashboard">

    <!-- Lista de refacciones -->
    <div class="panel lista">

        <h2>Filtros y Lista de Refacciones</h2>

    </div>

    <!-- Mis datos + Mis criterios -->
    <div class="panel datos">

        <!-- Mis datos -->
        <div class="perfil">

            <h2>Mis Datos</h2>

            <!-- Aquí después irá la foto -->

            <p>Nombre:</p>

            <p>Correo:</p>

            <p>Teléfono:</p>

        </div>

        <!-- Criterios -->
        <div class="criterios">

            <h2>Mis Criterios de Búsqueda</h2>

            <label>
                <input type="checkbox">
               1
            </label>

            <label>
                <input type="checkbox">
               2
            </label>

            <label>
                <input type="checkbox">
               3
            </label>

        </div>

    </div>

    <!-- Historial -->
    <div class="panel historial">

        <h2>Historial de Consultas</h2>

    </div>

    <!-- Preferencias -->
    <div class="panel preferencias">

        <h2>Preferencias de Compra</h2>

    </div>

    <!-- Búsqueda -->
    <div class="panel busqueda">

        <h2>Búsqueda Avanzada y Asignación</h2>

    </div>

    <!-- Detalles -->
    <div class="panel detalles">

        <h2>Detalles de Refacción Seleccionada</h2>

    </div>

</div>